* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: black;
  color: white;

}

.nav .leftNav{
  display: flex;
  gap: 10px;
}

.leftNav a{
  text-decoration: none;
  color: white;
  padding: 5px 10x;
}

.hero-banner{
  background-image: url(/starter/images/images.jpeg);
  background-size: cover;
  color: white;
  height: 3cm;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

}

.title-banner{
  position: absolute;
  bottom: 0;
  right: 40px;
  
  padding: 10px;
  background-color: rgba(18, 238, 183, 0.633);
  border-radius: 5px;

}

.title-banner h2 {
  color: black;
  margin: 0;
}
